<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Thetl project{% endblock %}</title>
</head>
<body>

{% block body %}

    <div class="header">
        <div class="fullscreen-bg">
            <video class="video__media" src="/static/vid/fon3.mp4" autoplay muted loop></video>
        </div>
        <div class="overlay">

                <p>Thetl</p>
                <p>sometimes happiness takes effort</p>
            </div>
        <h2>&#8212 Portfolio &#8212</h2>
        <h5>Work experience</h5>
        <div class="card0">
            <h3>E. Toffler</h3>
            <p>The Great Engine of Change</p>
            <h4>&#8212 Head of the Department | The Russian Army | Military service with the rank of Corporal</h4>

            <h4>&#8212 Testing Engineer | IT Clinic - Merlion | He was engaged in testing computer components and software testing</h4>

            <h4>&#8212 Freelance | I took on tasks mainly related to the design and functionality of websites</h4>
        </div>
        <h2>Knowledge in various fields of programming, measured in the numerical range from 0 to 500.
</h2>
            <h5>Analysis of personal progress in programming.</h5>
    <div class="card1">

        <head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>


    <div style="height: 100%; width: 100%;">
        <canvas id="myChart"></canvas>
    </div>

    <script>
        const labels = {{labels | tojson}};
        const data = {

            labels: labels,
            datasets: [{
                label: 'Statistics',
                backgroundColor: 'rgba(255, 255, 255, 0.8)',
                borderColor: 'rgba(255, 255, 255, 0.5)',
                data: {{data | tojson}},

            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: { maintainAspectRatio: false }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

    </script>

        </div>
        <h2>&#8212 Education &#8212</h2>
<h5>Basic education and courses</h5>
    <div class="card0">
            <h3>Mark Strand</h3>

            <p>The future always starts now</p>
<h4>&#8212 Higher technical education | Specialist.</h4>
        <h4>&#8212 RUTH (MIIT) | 2017-2022.</h4>
        <h4>&#8212 Railway Engineer | Construction.</h4>
        </div>
<h2>&#8212 Personal qualities &#8212</h2>
<h5>Hobbies and interests</h5>
    <div class="container">

<link rel="stylesheet" href="{{ url_for('static', filename='css/me.css') }}">
   <article class="card">
  <img
    class="card__background"
    src="{{ url_for('static', filename='img/4.png') }}"
    alt=""
    width="1920"
    height="2193"
  />
  <div class="card__content | flow">
    <div class="card__content--container | flow">
      <h3 class="card__title">Characteristics</h3>
      <p2 class="card__description" align="left">
          ⚫ Fast adaptation<br>
          ⚫ Attentive to deadlines<br>

              ⚫ I set my priorities correctly<br>
              ⚫ Inventive<br>
              ⚫ Industriousness<br>


              ⚫ If I do not know the answer, I will find it with 100% accuracy<br>

      </p2>
    </div>

  <div class="container-1">
    <div class="btn btn-one">
      <p3><a class="btn" href="/more">More detailed</a></p3>
    </div>
  </div>

  </div>
</article>

   <article class="card">
  <img
    class="card__background"
    src="{{ url_for('static', filename='img/3.png') }}"
    alt=""
    width="1920"
    height="2193"
  />
  <div class="card__content | flow">
    <div class="card__content--container | flow">
      <h3 class="card__title">Personal projects</h3>
      <p2 class="card__description" align="left">
        ⚫ Machine learning programs<br>

              ⚫ The site is based on the Flask/Django<br>
            Frontend | Backend | Databases | SQL<br>
              ⚫ Bots in messengers<br>


              ⚫ An application for reading readings with an interface<br>
            ⚫ And much more<br>


      </p2>
    </div>

  <div class="container-1">
    <div class="btn btn-one">
      <p3><a class="btn" href="/more">More detailed</a></p3>
    </div>
  </div>

  </div>
</article>






   <article class="card">
  <img
    class="card__background"
    src="{{ url_for('static', filename='img/2.png') }}"
    alt=""
    width="1920"
    height="2193"
  />
  <div class="card__content | flow">
    <div class="card__content--container | flow">
      <h3 class="card__title">About me</h3>
      <p2 class="card__description" align="left">
        He has been engaged in programming since 2019. He resumed his studies after serving in the army. I write Python code using various frameworks and libraries.
      </p2>
    </div>

  <div class="container-1">
    <div class="btn btn-one">
      <p3><a class="btn" href="/more">More detailed</a></p3>
    </div>
  </div>

  </div>
</article>


   <article class="card">
  <img
    class="card__background"
    src="{{ url_for('static', filename='img/1.png') }}"
    alt=""
    width="1920"
    height="2193"
  />
  <div class="card__content | flow">
    <div class="card__content--container | flow">
      <h3 class="card__title">Additional education</h3>
      <p2 class="card__description" align="left">
        He took a course in Python programming with honors. Later, he continued to study independently, creating projects of different levels of complexity. He also took a course in specialization - a tester.
      </p2>
    </div>

  <div class="container-1">
    <div class="btn btn-one">
        <p3><a class="btn" href="/more">More detailed</a></p3>
    </div>
  </div>

  </div>
</article>
    </div>

    <h2>&#8212 Contacts &#8212</h2>
<h5>Response time: 1-30 minutes</h5>
        <div class="card0">
            <h3>Richard Aldington</h3>

            <p>Live and make mistakes</p>
<h4>&#8212 Email: Thetl03@yandex.ru</h4>
            <h4>&#8212 Number phone: +7 (901)511-34-09</h4>
            <h4>&#8212 Tg: @PashaPetriaev</h4>
            <h4>&#8212 Id vk: 201359102</h4>
        </div>

    <h6>The site was created for employers. I hope you will approve my candidacy, thank you for your attention.</h6>

    </div>




{% endblock %}
</body>
</html>