header {
  background: black;
align-items: center;
    justify-content: center;
  background-size: cover;
     height: 100%;
    width: 100%;
}





.img{
    background-image: url(https://kalix.club/uploads/posts/2022-12/1671535567_kalix-club-p-oboi-na-rabochii-stol-gorod-budushchego-kr-8.jpg);

    height: 1080px;
    background-size: cover;
    position: static;
}

@media screen and (max-width: 1680px){
.img {
    background-image: url(https://kalix.club/uploads/posts/2022-12/1671535567_kalix-club-p-oboi-na-rabochii-stol-gorod-budushchego-kr-8.jpg);

    height: 900px;
    background-size: cover;
    position: static;
}
}
@media screen and (max-width: 1350px){
.img {
    background-image: url(https://kalix.club/uploads/posts/2022-12/1671535567_kalix-club-p-oboi-na-rabochii-stol-gorod-budushchego-kr-8.jpg);

    height: 720px;
    background-size: cover;
    position: static;
}
}
@media screen and (max-width: 1350px){
.img {
    background-image: url(https://kalix.club/uploads/posts/2022-12/1671535567_kalix-club-p-oboi-na-rabochii-stol-gorod-budushchego-kr-8.jpg);

    height: 700px;
    background-size: cover;
    position: static;
}
}
@media screen and (max-width: 980px){
.img {
    background-image: url(https://kalix.club/uploads/posts/2022-12/1671535567_kalix-club-p-oboi-na-rabochii-stol-gorod-budushchego-kr-8.jpg);

    height: 550px;
    background-size: cover;
    position: static;
}
}
html {
    text-align:center;
margin: 0;
  height: 100%;
  width: 100%;
    overflow-x: hidden;

    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
}
body {
  text-align:center;
  font-family: "Yu Gothic UI Light";
  font-size:35px;
background: black;
overflow-x: hidden;
overflow-y: scroll;
  -webkit-backface-visibility: hidden;

  margin: 0;
  height: 100%;
  width: 100%;

  -webkit-transform: translate3d(0,0,0);
}

a {

  text-decoration: none;
  color: darkgrey;
  font-size: 1.2rem;
text-align: center;
}
a:hover {
    color: lightgray;
}

.card0 {
    background: url(../img/44.png) no-repeat;
    filter: alpha(opacity=40);
background-position: right;
    background-size: 40% auto;
    text-align: left;
  height: auto;

    margin-top: 20px;
margin-left: auto;
    margin-right: auto;
margin-bottom: 15px;
  padding: 10px 30px;

border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #151719, #080509);


    border-radius: 0px;
}



.card1{
    height: 600px;
    margin-top: 20px;
margin-left: auto;
    margin-right: auto;
margin-bottom: 15px;
  padding: 10px 30px;

  background-color: rgba(255, 255, 255, 0);
    border-radius: 0px;
}

.labels {
  color: white;
}

.container {
  margin-top: -30px;
  padding: 50px;
}


h2, h5, h6 {
    font-family: "Yu Gothic UI Light";
    color: darkgrey;
    margin-left: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
h4{
  font-family: "Yu Gothic UI Light";
    color: darkgrey;
    font-size: 2rem;
}
p1 {
    font-family: "Yu Gothic UI Light";
    color: darkgrey;
    font-size: 10pt;
    margin-left: 10px;
}

p {

  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  color:#555;
  font-family: "Yu Gothic UI Light";
  font-weight: 100;
}

.overlay {
    background: rgba(0,0,0,0);
    margin-left: 5px;

    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.overlay p {
    text-align:center;
    margin-top:-1%;
}

p:first-of-type {
  animation: showup 8s infinite;
}

p:last-of-type {
  width:5px;
  animation: reveal 8s infinite;
}

p:last-of-type span {
  margin-left:-600px;
  animation: slidein 8s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:485px;}
    80% {opacity:1;}
    100% {opacity:0;width:485px;}
}


@media screen and (max-width: 1000px){
h4 {

font-size: 1.3rem;

}}
@media screen and (max-width: 1000px){
h2 {

font-size: 1.4rem;

}}
@media screen and (max-width: 1000px){
a {

font-size: 0.8rem;

}}
